.customFooter{
    display: flex;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(0.25turn,  rgb(250, 75, 227),rgb(160, 48, 145), rgb(97, 30, 88),  #22282b) !important;
    justify-content: center;
    max-height: 70px;
    
}

.margin{
    margin: 0%;
    max-width: 50px;
    min-width: 50px;
    margin: 15px;
}

.imgSize{
    max-height: 40px;
    min-height: 50px;
}

.imgSize:hover{
    transform: translateY(-0.2rem);
    transition: transform 150ms;
    opacity: .5;
}