/* start Aboutme Styling */

.about{
    background-color: rgb(211, 211, 211);
    padding: 1%;
    color: rgb(0, 0, 0);
    min-height: 85vh
}

.aboutCardHeader{
 margin-top: 1%;
 border-style: groove;
 border-top: 0;   
 border-left: 0;
 border-right: 0;
 border-color: rgb(107, 106, 106);
 
}

.aboutCard{
    max-width: 60%;
    min-width: 60%;
    max-height: 30%;
    min-height: 30%;
}

.horz{
    display: flex;
    flex-direction: row;
    margin-bottom: 3%;
}

.vert{
display: flex;
flex-direction: column;
}

.horzReverse{
    display: flex;
    flex-direction: row-reverse;
}


.aboutProfileImage{
    display:flex;
    margin-left: 25%;
}

.aboutStarImage{
    display:flex;
    margin-right: 25%;
}

.leftMarg{
    margin-left: 8%;
}

/* End Aboutme Styling */

/* ------------------------------------ */

/* start Contact Styling */
.contactConatainer{
    background-color: rgb(211, 211, 211);
    padding:5%;
    min-height: 86vh;
}

.contactForm{
    max-width: 50%;
}
/* End Contact Styling */

/* ------------------------------------ */

/* Start Portfolio Styling */
.portfolioContainer{
    padding:2%;
    min-height: 85vh;
    background-color: rgb(211, 211, 211)
}

.portfolioHeader{
    margin: 1%;
    border-style: groove;
    border-top: 0px ;
    border-left: 0px; 
    border-right: 0px;
    max-width: 23%;
}


.portfolioImages{
    margin: 1%;
    max-height: 300px;
}

.portfolioImages:hover{
    transform: translateY(-0.2rem);
    transition: transform 150ms;
    opacity: .5;
}

.portfolioImageContainer{
    justify-content: center;
}

.portfoliofigure{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.portfolioFigcaption {
text-align: center;
}
.portfolioCardBorder{
    margin: 15px;
    border-radius: 10px;
    border-style: solid;
    border-color: rgb(250, 75, 227);
    padding: 1%;
}

/* End Portfolio Styling */

/* ------------------------------------ */

/* Start Resume Styling */

.resumeContainer{
    background-color: rgb(211, 211, 211);
    min-height: 85vh;
    padding:2%;
}

.resumeHeader{
    border-style: solid;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    margin-bottom: 3%;
    margin-top: 3%;

}

.resumeCard{
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(250, 75, 227);
    padding: 2%;
    margin-bottom: 3%;
}

.languagesList {
    list-style-type: none
}

.languagesListItems{
    text-align: center;
    margin: 10px;
    border-style: solid;
    border-radius: 10px;
    border-color: rgb(250, 75, 227);
}

.resumeDownload{
    display: flex;
    justify-content: center;
}

.resumeDownloadButton:hover{
    transform: translateY(-0.2rem);
    transition: transform 150ms;
    opacity: .5;
}

/* End Resume Styling */
